<ion-header>
  <ion-navbar>
    <ion-title>
      Sonidos
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="ordenando = true" *ngIf="!ordenando" >
        Ordenando
      </button>
      <button ion-button (click)="ordenando = false" *ngIf="ordenando" >
          Listo
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="recargarAnimales($event)" [enabled]="!ordenando">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list [reorder]="ordenando" (ionItemReorder) = "reordenarAnimales($event)">
      <ion-item-sliding *ngFor="let animal of animales; let i = index">
        <ion-item (click)="reproducir(animal)">
          <ion-avatar item-start>
            <img [src]="animal.imagen">
          </ion-avatar>
          <h2>{{ animal.nombre }}</h2>
          <ion-icon name="play" *ngIf="!animal.reproduciendo" item-right></ion-icon>
          <ion-icon name="pause" *ngIf="animal.reproduciendo" item-right></ion-icon>
        </ion-item>
        <ion-item-options side="right">
         <button ion-button color="danger" (click)="borrarAnimal(i)">
            <ion-icon name="trash">
            </ion-icon>
            Borrar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
